 body{
    background-color: white;
    size: 14px;
 }
 
 #heading{
            color: green;/* Set text color to green */
            padding: 10px;
            margin: 2px;
            border: 2px solid green;
            font-size: 18px;
        }
    
h2{
          color: red;
          padding: 10px;
          margin: 2px;
          border: 2px solid red;
          padding: 10px; 
          font-size: 18px;
}

h3{
    color: blue;
    padding: 10px;
    size: 14px;
    margin: 2px;
    border: 2px solid blue;
    font-size: 18px;
}
            
